ipython	# terminal
ipdb	# debugger
sdb	# debugger remoto
pip-tools	# lock de dependencias
pytest	# execução de teste
pytest-order	# ordenação de teste
httpx	# requets async para teste
black	# auto formatação
flake8	# liner
